@import "./index.css";

.experience-section-container {
  display: flex;
  flex-direction: column;
  padding: var(--margin-3);
  width: 100%;
}

.experience-section-trigger {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--margin-3);
  padding-left: var(--padding-1);
  padding-right: var(--padding-1);
  background-color: white;
  border: black solid 0px;
  cursor: pointer;
}

.caret {
  height: 100%;
  transition: 0.3s;
}

.caret.active {
  transition: 0.3s;
  transform: rotate(180deg);
}

.experience-info-container,
.experience-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding-left: var(--padding-1);
  padding-right: var(--padding-1);
  margin-top: var(--margin-2);
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s ease-in-out allow-discrete;
  width: 100%;
  display: none;
}

.experience-info-container.active,
.experience-list-container.active {
  opacity: 1;
  transform: translateY(0%);
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-1);
}

.experience-info-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-1);
  width: 100%;
}

.experience-info-form input {
  padding: var(--padding-1);
  width: 100%;
}
.experience-info-form textarea {
  width: 100%;
  height: 6rem;
  padding: var(--padding-1);
}

.experience-list-item {
  width: 100%;
}

.main-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-1) var(--padding-2);
  border: 1px solid black;
  background-color: white;
}

.remove-btn {
  cursor: pointer;
}

.remove-btn:hover {
}

.button-container {
  display: flex;
  gap: var(--gap-1);
}

/* need to figure out why this is necessary */
@starting-style {
  .experience-info-container.active,
  .experience-list-container.active {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
