@import "./index.css";

.personal-details-container {
  display: flex;
  flex-direction: column;
  padding: var(--margin-3);
  width: 100%;

}
.personal-details-trigger {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--margin-3);
  padding-left: var(--padding-1);
  padding-right: var(--padding-1);
  background-color: white;
  border: black solid 0px;
  cursor: pointer;
}
.caret {
  height: 100%;
  transition: 0.3s;
}
.caret.active {
  transition: 0.3s;
  transform: rotate(180deg);
}
.personal-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding-left: var(--padding-1);
  padding-right: var(--padding-1);
  margin-top: var(--margin-2);

  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s ease-in-out allow-discrete;
  width: 100%;
  display: none;
}
.personal-details-form.active {
  opacity: 1;
  transform: translateY(0%);
  display: flex;
}

.personal-details-form input {
  padding: var(--padding-1);
  width: 100%;
}

/* need to figure out why this is necessary */
@starting-style {
  .personal-details-form.active {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
